<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.publish.shahar91.testingstuff">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JustJava"
            android:label="Just Java"
            android:parentActivityName=".MainActivity"
            android:theme="@style/JustJAva">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.MainActivity" />
        </activity>
        <activity
            android:name=".CourtCounter"
            android:label="Court Counter"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Court">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.MainActivity" />
        </activity>
        <activity
            android:name=".miwok.Miwok"
            android:label="Miwok"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Miwok">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.MainActivity" />
        </activity>
        <activity
            android:name=".miwok.NumbersActivity"
            android:label="@string/category_numbers"
            android:parentActivityName=".miwok.Miwok"
            android:theme="@style/Miwok">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.miwok.Miwok" />
        </activity>
        <activity
            android:name=".miwok.PhrasesActivity"
            android:label="@string/category_phrases"
            android:parentActivityName=".miwok.Miwok"
            android:theme="@style/Miwok">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.miwok.Miwok" />
        </activity>
        <activity
            android:name=".miwok.FamilyActivity"
            android:label="@string/category_family"
            android:parentActivityName=".miwok.Miwok"
            android:theme="@style/Miwok">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.miwok.Miwok" />
        </activity>
        <activity
            android:name=".miwok.ColorsActivity"
            android:label="@string/category_colors"
            android:parentActivityName=".miwok.Miwok"
            android:theme="@style/Miwok">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.miwok.Miwok" />
        </activity>
        <activity
            android:name=".MusicPlayer"
            android:label="Music Player"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".miwokTabs.miwok.MiwokTabs"
            android:label="MiwokTabs"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Miwok">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.MainActivity" />
        </activity>
        <activity
            android:name=".quake.EarthquakeActivity"
            android:label="Earthquake"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Quake">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.MainActivity" />
        </activity>
        <activity
            android:name=".soonami.Soonami"
            android:label="Soonami"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.MainActivity" />
        </activity>
        <activity
            android:name=".didyoufeelit.DidYouFeelIt"
            android:label="Did you feel it"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FeelIt">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.publish.shahar91.testingstuff.MainActivity" />
        </activity>
        <activity
            android:name=".quake.SettingActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".quake.EarthquakeActivity"
            android:theme="@style/Quake">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".quake.EarthquakeActivity" />
        </activity>
        <activity
            android:name=".Account"
            android:label="Account"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".petsApp.CatalogActivity"
            android:label="Pets App"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Pets">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".petsApp.EditorActivity"
            android:parentActivityName=".petsApp.CatalogActivity"
            android:theme="@style/EditorTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".petsApp.CatalogActivity" />
        </activity>

        <provider
            android:name=".petsApp.data.PetProvider"
            android:authorities="com.publish.shahar91.testingstuff"
            android:exported="false" />

        <activity
            android:name=".sunshine.SunMainActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".toys.ToyMainActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".githubRepo.RepoMainActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".recyclerView.RecyclerMainActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>